<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="UnitTests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="IntegrationTests">
            <file>tests/integration/BaseIntegrationTest.php</file>
            <file>tests/integration/StudyStructureTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>